<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="static/images/hackathon-07.svg" height="25px" mergin-left="50px"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" >
                <ul class="nav navbar-nav navbar-right">

                    <li><img ng-src="static/images/hackathon-02.svg" height="28px" mergin-left="50px" ng-click="toHome()"></li>
                    <li><img ng-src="static/images/hackathon-03.svg" height="25px" mergin-left="50px" ng-click="toProfile()"></li>
                    <li><img ng-src="static/images/hackathon-04.svg" height="25px" mergin-left="50px"></li>
                    <li><img ng-src="static/images/hackathon-05.svg" height="25px" mergin-left="50px"></li>
                    <li><img ng-src="static/images/hackathon-06.svg" height="25px" mergin-left="50px"></li>

                </ul>
            </div>
        </div>
    </nav>
</div>