<div style="margin-left: 5%;" ng-controller="greetingsCtrl">
    <div>
        <div style="margin-bottom: 10%">
            <img src={{image_path}} style="float: right" class="img-circle" height="65" width="65">
            <p id="sideName"><strong>{{user_first_name}} {{user_last_name}}</strong></p>
        </div>

        <p><strong>Upcoming Activities!</strong></p>
        <img src="static/images/activity1.png">
        <img src="static/images/activity2.png">
        <p><strong>Recent Activities!</strong></p>
        <img src="static/images/activity3.png">
        <img src="static/images/activity4.png">
    </div>
</div>
