<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up</title>

    <!-- CSS -->
    <link rel="stylesheet" href="Signup.css">

    <!-- Favicon and touch icons -->
    <link rel="icon" href="C:\Users\Shoshana\app\public\images\favicon-12.png">
    <!-- Javascript -->
    <!-- <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.backstretch.min.js"></script>
    <script src="assets/js/retina-1.1.0.min.js"></script> -->
    <script src="Signup.js"></script>



</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="C:\Users\Shoshana\app\public\images\logo.svg" alt="logo" height="40px">
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon"></span>A</a></li>
            </ul>
        </div>
    </nav>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">

                        <form role="form" action="" method="post" class="registration-form">

                            <fieldset>
                                <div class="form-top">
                                    <h1>Introduce yourself</h1>
                                </div>
                                <div class="form-bottom">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-email">e-mail</label>
                                        <input type="email" name="form-email" placeholder="email@address.com" class="form-email form-control" id="form-email">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="form-password">
                                    </div>
                                    <div class="form-inline">
                                        <input type="text" name="form-first-name" placeholder="First name" class="pull-left form-password form-control " id="form-first-name">
                                        <input type="text" name="form-last-name" placeholder="Last name" class="form-last-name form-control" id="form-last-name">
                                    </div>
                                    <div class="form-inline birthday">
                                        <label for="form-birthday">Birthday</label>
                                        <select name="DOBDay" class="form-control">
                                        <option>Day</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                        </select>

                                        <select name="DOBMonth" class="form-control">
                                          <option>Month</option>
                                          <option value="January">January</option>
                                          <option value="Febuary">Febuary</option>
                                          <option value="March">March</option>
                                          <option value="April">April</option>
                                          <option value="May">May</option>
                                          <option value="June">June</option>
                                          <option value="July">July</option>
                                          <option value="August">August</option>
                                          <option value="September">September</option>
                                          <option value="October">October</option>
                                          <option value="November">November</option>
                                          <option value="December">December</option>
                                          </select>


                                        <select name="DOBYear" class="form-control">
                                          <option>Year</option>
                                          <option value="1993">1993</option>
                                          <option value="1992">1992</option>
                                          <option value="1991">1991</option>
                                          <option value="1990">1990</option>
                                          <option value="1989">1989</option>
                                          <option value="1988">1988</option>
                                          <option value="1987">1987</option>
                                          <option value="1986">1986</option>
                                          <option value="1985">1985</option>
                                          <option value="1984">1984</option>
                                          <option value="1983">1983</option>
                                          <option value="1982">1982</option>
                                          <option value="1981">1981</option>
                                          <option value="1980">1980</option>
                                          <option value="1979">1979</option>
                                          <option value="1978">1978</option>
                                          <option value="1977">1977</option>
                                          <option value="1976">1976</option>
                                          <option value="1975">1975</option>
                                          <option value="1974">1974</option>
                                          <option value="1973">1973</option>
                                          <option value="1972">1972</option>
                                          <option value="1971">1971</option>
                                          <option value="1970">1970</option>
                                          <option value="1969">1969</option>
                                          <option value="1968">1968</option>
                                          <option value="1967">1967</option>
                                          <option value="1966">1966</option>
                                          <option value="1965">1965</option>
                                          <option value="1964">1964</option>
                                          <option value="1963">1963</option>
                                          <option value="1962">1962</option>
                                          <option value="1961">1961</option>
                                          <option value="1960">1960</option>
                                          <option value="1959">1959</option>
                                          <option value="1958">1958</option>
                                          <option value="1957">1957</option>
                                          <option value="1956">1956</option>
                                          <option value="1955">1955</option>
                                          <option value="1954">1954</option>
                                          <option value="1953">1953</option>
                                          <option value="1952">1952</option>
                                          <option value="1951">1951</option>
                                          <option value="1950">1950</option>
                                          <option value="1949">1949</option>
                                          <option value="1948">1948</option>
                                          <option value="1947">1947</option>

                                          </select>
                                    </div>
                                    <div class="form-inline gender">
                                        <label class="radio-inline"><input type="radio" name="form-gender">Male</label>
                                        <label class="radio-inline"><input type="radio" name="form-gender">Female</label>
                                    </div>
                                    <div class="form-group city">
                                        <select name="city" class="form-control">
                                        <option>City</option>
                                        <option value="Jeusalem">Jerusalem</option>
                                        <option value="Modiin">Modi'in</option>
                                        <option value="Tel Aviv">Tel Aviv</option>
                                        <option value="Holon">Holon</option>
                                        <option value="Bet Shemesh">Bet Shemesh</option>
                                        <option value="Beer Sheva">Beer Sheva</option>
                                        <option value="Rechovot">Rechovot</option>
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-top">
                                    <h1>Tell us a bit about you</h1>

                                </div>
                                <div class="form-bottom">
                                    <div class="form-group">
                                        <div class="photo">
                                            <label>Show us what you look like</label>
                                            <input type="file" multiple="" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" id="about me" placeholder="Write a bit about yourself"></textarea>
                                    </div>

                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h1>How can we help you?</h1>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <div class="col-sm-4 interests">
                                        <h4>Interests</h4>
                                        <div class="col-sm-12">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Running</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Walking</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Swimming</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Biking</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Yoga</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 requirements pull-left">
                                        <h4>Requirements</h4>
                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Special equipment</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Previous experience</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Sign language</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Small groups</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Big groups</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Paved routes</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Males only</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Female only</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">Low activity level</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">High activity level</label>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="submit" class="btn">Sign me up!</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
