

.form-horizontal .control-label{
    /* text-align:right; */
    text-align:left;
}

.navbar {
    background-color: #212666;
    color: white;
    border-color: #212666;
}

.footer {
    background-color: #212666;
    color: white;
    border-color: #212666;
    padding: 15px;
    margin-right: 1px;
}



#gil {
	background-color : #212666; 
}

#underline {
	background-color : #212666;
	color: #ffffff;
	border: 0;
}


#greet {
	margin-top: 35px;
	margin-right: 115px;
	font-size: 12px;
	font-family: "Open Sans";
}

#sideName {
	font-size: 30px;
	font-family: "Open Sans";
}

.rightMenu {
	font-size: 10px;
}

input, select{
    background-color:#666;
    color: #FFF;
}