<!DOCTYPE html>
<html   lang="en">
<head>
  <title>Welcome to Sportiv</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="static/login.js"></script>

  <link rel="stylesheet" href="static/css/login.css">

</head>
<body>

<div ng-app ="loginApp" ng-controller="loginAppCtrl" class="container">
    <div class="login-container">
        <div id="output"></div>
        <img style="margin-bottom: 10%" src="static/images/unnamed.gif">
        <div class="form-box">
            <form ng-submit="submit()">
                <input ng-model="email" type="text" placeholder="Email">
                <input ng-model="password" placeholder="password">
                <button class="btn btn-info btn-block login" type="submit">Login</button>
            </form>
        </div>
    </div>

</div>


</body>
</html>
